body {
    background-color: black;
    color: white;
    text-align: center;
}

.header {
    background-color: rgba(212, 25, 25, 0.464);
    color: white;
    padding: 10px;
}

.content {
    display: flex;
    flex-direction: row;
}

.left-div {
    width: 70%;
    background-color: red;
    padding: 10px;
    
}

.right-div {
    width: 30%;
    background-color: black;
    padding: 10px;
    
}

.footer {
    background-color: red;
    color: white;
    padding: 10px;
}

