{% extends 'base.html.twig' %}

{% block title %}OnlyFun{% endblock %}

{% block bodyIz %}
        <div class="left-div">
            <ul>
                <li><code><a href="{{ path('crearCategoria') }}">Crea Categoria</a></code></li>
            </ul>

            <ul>
                <li><p>categoria : {{ categoria.nombre }}</p></li>
                <li><p>id : {{ categoria.id }}</p></li>
            </ul>
        </div>       
{% endblock %}
