{% extends 'base.html.twig' %}

{% block title %}Hello VideoController!{% endblock %}

{% block body %}
    <div class="content">
        <div class="left-div">
            <p>Contenido del div izquierdo (70%)</p>
        </div>
        <div class="right-div">
            <p>Contenido del div derecho (30%)</p>
        </div>
    </div>


{% endblock %}
