{% extends 'base.html.twig' %}

{% block title %}OnlyFun{% endblock %}

{% block bodyIz %}
        <div class="left-div">
            <ul>
                <li><p>Video : {{ video.nombre }}</p></li>
                <li><p>Url : {{ video.Url }}</p></li>
                <li><p>Descripcion : {{ video.descripcion }}</p></li>
                <li><p>Categoria :</p></li>
                <li><p>Mensage :{{ mensage  }}</p></li>

            </ul>
        </div>       
{% endblock %}
