{% extends 'base.html.twig' %}

{% block title %}OnlyFun{% endblock %}

{% block bodyIz %}
        <div class="left-div">
            <p>User</p>
            <p>Contenido del div izquierdo (70%)</p>
        </div>       
{% endblock %}
